<div class="container">
<div class="row">
  <div class="col-md-4">
   <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <%  if user_signed_in? %>
    <h6 class="card-subtitle mb-2 text-muted"><%= current_user.name %></h6>
    <p class="card-text"> <%= link_to current_user.username, user_path(current_user.username) %> <% else %> no user logged in </p><% end %>
  </div>
</div>
  </div>
  <div class="col-md-8">My feed
<% if user_signed_in? %>
<center><%= link_to 'New Tweet', new_tweet_path %></center>
<% end %>
<ul class="list-group">
    <% @tweets.each do |tweet| %>
              <%= link_to tweet, class: "list-group-item list-group-item-action" do %>
        <h5 class="list-group-item-heading"><%= tweet.user.username %></h5>
        <p class="list-group-item-text"><%= tweet.content %></p> 
        <% if tweet.image.present? %>
     <p class="card-text"><%= image_tag tweet.image.url, class: "img-fluid" %></p>

     <% end %>
     <% end %>
  <p class="list-group-item-text">populariteit: <%= tweet.votes_for.up.size %> 
        <% if user_signed_in? %>
<% if current_user.voted_up_on? tweet %>
        <%= link_to 'unlike', unvote_tweet_path(tweet), method: :delete %></p>
        <% else %>
          <%= link_to 'like', vote_tweet_path(tweet), method: :post %></p>
         <% end %>

         <% end %>
     <% end %>
      
      
</ul>
</div>
</div>
</div>